.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div1{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}
.logo{
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
}

.menu{
    color: #1f2937;
    display: none;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.tabs{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
}
.links{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    list-style-type: none;
}
.links a{
    text-decoration: none;
    color: black;
}
  
.links a:hover {
    color: #3b82f6;
}
.hmenu{
    z-index: 999;
    font-size: 1.875rem;
    margin: 1.25rem;
}
.M-menu{
    color: #1f2937;
    position: absolute;
    width: 66.667%;
    height: 100vh;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    background-color: #ffffff;
    top: 0;
    transition-duration: 300ms;
       
    }
.M-tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
}

.M-links{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    list-style-type: none;
}
.M-links a{
    text-decoration: none;
    color: black;
}
.M-links:hover{
    color: #3b82f6;
}


@media (min-width: 768px) {
    .menu{
        display: block;
    }
    .hmenu{
        display: none;
    }
    .M-menu{
        display: none;
    }
    
}






























































.header_section{
    height: 100vh;
}
  