@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  background-color: #EDF1FF;
}
